name: Publish project and JavaDocs
on:
  push:
    branches:
      - '**'
      - '!renovate**'
jobs:
  publish:
    if: ${{ github.actor != 'renovate[bot]' }}
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v4
     - name: Set up Java
       uses: actions/setup-java@v4
       with:
         java-version: '21'
         distribution: 'temurin'
     - name: Validate Gradle wrapper
       uses: gradle/actions/wrapper-validation@v3
     - name: Build
       run: ./gradlew build --stacktrace
     - name: Publish
       if: ${{ github.event_name == 'push' && !startsWith(github.ref, 'renovate/**') }}
       run: ./gradlew publishToMavenCentral --stacktrace
       env:
         ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_USERNAME }}
         ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_TOKEN }}
         ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_KEY }}
         ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}